<header id = 'only-header'>
    <div id = 'only-header-desc'>
        <img src="./img/weather.png" alt="Picture of a cloud">
        <p>Get your weather!</p>
    </div>
    <h1 class = 'header-title'>{{title}}</h1>
    <nav id = 'nav-tag'>
        <ul class = 'list-items'>
            <li><a href="/">Weather</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/help">Help</a></li>
        </ul>
    </nav>
</header>